html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mobile-controls {
  display: none;
  pointer-events: auto;
}

/* 터치 기기이거나 화면 너비가 768px 이하인 모바일 환경에서 컨트롤러 표시 */
@media (max-width: 768px), (pointer: coarse) {
  .mobile-controls {
    display: block !important;
  }
}
